*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font: 18px/1.1 sans-serif;
    background: #eee;
    color: #333;
}

#wrapper{
    width: 900px;
    margin: 50px auto;
}

#headline{
    min-height: 35px;
    border-bottom: 4px solid #000;
    text-align: center;
}

#headline #cosmetic{
    position: relative;
}